<div class="alert alert-warning alert-dismissible" role="alert" id="resultMessage" style="display: none">
    <span id="resultMessageText"></span>
    <button type="button" class="close" aria-label="Close" id="resultMessageClose">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script src="/resources/js/alert.js"></script>